function GetAccessibleObject
function CreateAccessibleObject
function GetSelectedChildAccessibleObject
function GetChildAccessibleObjectAtPos
procedure WriteLayoutDebugReport
procedure AutoAdjustLayout
function Perform
procedure AddHandlerOnResize
procedure RemoveHandlerOnResize
procedure AddHandlerOnChangeBounds
procedure RemoveHandlerOnChangeBounds
procedure AddHandlerOnVisibleChanging
procedure RemoveHandlerOnVisibleChanging
procedure AddHandlerOnVisibleChanged
procedure RemoveHandlerOnVisibleChanged
procedure AddHandlerOnEnabledChanged
procedure RemoveHandlerOnEnabledChanged
procedure AddHandlerOnKeyDown
procedure RemoveHandlerOnKeyDown
procedure AddHandlerOnBeforeDestruction
procedure RemoveHandlerOnBeforeDestruction
function UseRightToLeftAlignment
function UseRightToLeftReading
function UseRightToLeftScrollBar
function IsRightToLeft
procedure AddHandlerOnMouseWheel
procedure RemoveHandlerOnMouseWheel
procedure AddHandlerOnEnabledChanging
procedure RemoveHandlerOnEnabledChanging
