function GetAccessibleObject
function CreateAccessibleObject
function GetSelectedChildAccessibleObject
function GetChildAccessibleObjectAtPos
procedure AdjustSize
function AutoSizePhases
function AutoSizeDelayed
function AutoSizeDelayedReport
function AutoSizeDelayedHandle
function GetAnchorsDependingOnParent
procedure DisableAutoSizing
procedure EnableAutoSizing
procedure WriteAutoSizeReasons
procedure WriteLayoutDebugReport
procedure AutoAdjustLayout
function ShouldAutoAdjustLeftAndTop
function ShouldAutoAdjustWidthAndHeight
function CheckChildClassAllowed
procedure CheckNewParent
function Perform
procedure RemoveAllHandlersOfObject
procedure AddHandlerOnResize
procedure RemoveHandlerOnResize
procedure AddHandlerOnChangeBounds
procedure RemoveHandlerOnChangeBounds
procedure AddHandlerOnVisibleChanging
procedure RemoveHandlerOnVisibleChanging
procedure AddHandlerOnVisibleChanged
procedure RemoveHandlerOnVisibleChanged
procedure AddHandlerOnEnabledChanged
procedure RemoveHandlerOnEnableChanging
procedure AddHandlerOnKeyDown
procedure RemoveHandlerOnKeyDown
procedure AddHandlerOnBeforeDestruction
procedure RemoveHandlerOnBeforeDestruction
function UseRightToLeftAlignment
function UseRightToLeftReading
function UseRightToLeftScrollBar
function IsRightToLeft
procedure AddHandlerOnMouseWheel
procedure RemoveHandlerOnMouseWheel